<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row">
       <form name="form">
         <input id="search" ng-model="location"></input>
         <button ng-click="search()">Search</button>
       </form>
      </div>
      <div class="row">
          <li ng-repeat="bar in bars">
            <button ng-click="addMe(bar.location.city, bar.name)">Add Me</button>
            <a href="{{bar.url}}"> {{bar.name}} </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>


