<div ng-class="cssVar" class="searchBar">
  <div class="container">
    <div class="row">
         <form name="form">
           <div class="col-lg-2 col-md-2"></div>
           <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
              <input id="search" ng-model="location" placeholder="Where are you?">
              <i class="fa fa-search"></i>
           </div>
           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
             <button ng-click="search()">Search</button>
           </div>
         </form>
      </div>
    </div>
</div>
<div ng-class="cssVar2" class="results">
  <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <ul class="list-group">
            <li ng-repeat="bar in bars" class="list-group-item">
              <button ng-click="addMe(location, bar.name, $index)" ng-show="!isGoingArr[$index]" id="addMe">Add Me</button>
              <button ng-click="removeMe(location, bar.name, $index)" ng-show="isGoingArr[$index]" id="removeMe">Remove Me</button>
              <a href="{{bar.url}}" ng-bind="bar.name"></a>
              <span id="going"> {{bar.user_count}} Going</span>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
