<div ng-class="cssVar" class="searchBar">

  <!-- move later -->
<div ng-controller="LoginCtrl">
  <div id="#twitter">
  <a href="", ng-click="loginOauth('twitter')")><i class="fa fa-twitter"></i>Connect with Twitter</a>
  </div>
  <h1>{{user}}</h1>
</div>

  <div class="container">
    <div class="row">
         <form name="form">
           <div class="col-lg-2 col-md-2"></div>
           <div class="col-lg-6 col-md-6 col-sm-10 col-xs-12">
              <input id="search" ng-model="location" placeholder="Where are you?">
              <i class="fa fa-search"></i>
           </div>
           <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
             <button ng-click="search()">Search</button>
           </div>
         </form>
      </div>
    </div>
</div>
<!--TODO: since updating the user.model.js, after going to /auth/twitter, the app automatically redirects to the home page without making you authorize the app first...-->
<div ng-class="cssVar2" class="results ng-cloak">
  <div class="container">
      <div class="row">
        <div class="col-lg-2 col-md-2"></div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
          <ul class="list-group ng-cloak">
            <li ng-repeat="bar in bars" class="list-group-item">
              <button ng-click="addMe(location, bar.name, $index)" ng-show="!isGoingArr[$index]" id="addMe" class="ng-cloak">Add Me</button>
              <button ng-click="removeMe(location, bar.name, $index)" ng-show="isGoingArr[$index]" id="removeMe" class="ng-cloak">Remove Me</button>
              <a href="{{bar.url}}" ng-bind="bar.name" class="ng-cloak"></a>
              <span id="going"> {{bar.user_count}} Going</span>
            </li>
          </ul>
        </div>
      </div>
  </div>
</div>
